<!-- <div *ngFor="let user of users">
    ID:{{user.id}} - NOME:{{user.name}} - E-mail:{{user.email}}
</div> -->

<table mat-table [dataSource]="users" class="mat-elevation-z8">

    <!-- Coluna ID -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
 
    <!-- Coluna nome -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
 
    <!-- coluna preço -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> E-mail </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <!-- Botões para açoes -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Ações </th>
      <td mat-cell *matCellDef="let element"> 
        <a routerLink="/users/update/{{element.id}}" class="edit">
          <i class="material-icons">edit</i>
        </a>
        <a routerLink="/users/delete/{{element.id}}" class="delete">
          <i class="material-icons">delete</i>
        </a>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>