.header {
    display: flex;
    align-items: center;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

/*Altura da logo*/
.header .logo {
    max-width: 60px;
}

/*Espaço entre logo e icone*/
.header .title-group {
    padding-left: 25px;
}

/*Espaço entre icone e logo*/
.header .title-group i {
    padding-right: 5px;
}